html {
    background-color:rgb(54, 48, 98);
    height: 100vh;
    width: auto;
    
}

body {
    height: 100vh;
    width: auto;
    position: relative; 
}

#tareas {
    background-color: rgb(129, 143, 180);
    width: 500px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(228, 133, 134);
}

#marcarCheck {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}


.marcarLabel, .desmarcarLabel {
   
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(228, 133, 134);
    padding-left: 30px;
    display: block;
    text-decoration: none;
}


.añadir {
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    margin-top: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(252, 186, 173);
    margin-top: 10px;
    border-top: 5px;
    margin-left: 10px;
    border: 3px solid rgb(228, 133, 134);
    
}

#input-tareas {
    font-family: 'Montserrat', sans-serif; 
    background-color: rgb(245, 232, 199);
    font-size: 20px;
    width: 300px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: white;
    border: 3px solid blue;
}

input-tareas:hover {
    box-shadow: 0 0 5px gray;
  }
  
input[type=checkbox] {
    transform: scale(2);
    margin-right: 10px;
    margin-bottom: 10px;
}

.tachado {
    text-decoration:line-through;
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    color: rgb(245, 232, 199);
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
    
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(229, 195, 166);
    text-align: center;
    margin-top: -35px;
}

span {
    font-size: 2.5rem;
    display: block;
}

#lista {
    background-color: rgb(245, 232, 199);
    width: 500px;
    height: auto;
    min-height: 420px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 20px;
    padding-top: 5px;
    border: 5px solid rgb(228, 133, 134);
    
}
.form-tareas {
    width: auto;
    height: 550px;
    display: inline-block;
}

p {
    display: inline-block;
    font-family:'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: rgb(69, 71, 75);
    margin-left: 15px;
    margin-top: 10px;
    opacity: 70%;
    
    
}

li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: oblique;
    font-size: 1.6rem;
    color: rgb(69, 71, 75);
    margin-top: 5px;
    padding: 5px 5px;
    list-style: none;
    
}

button {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color:rgb(228, 133, 134);
    margin: 40px auto;
    width: 40%;
    padding: 10px;
    display: block;
   
}

footer {
    margin: 0;
    text-align: center;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: gray;
    margin: 20px 0;
    font-size: 20px;
    padding: 10px;
}

@media (max-width:480px) {
    h1 {
        margin-left: 20px;
        margin-top: 30px;
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    span {
        font-size: 2rem;
        
    }
    
    #tareas {
        max-width: 90%;
        display: flex;
        justify-content: center;
             
    }

    #input-tareas {
        display: inline-block;
        max-width: 70%;
        margin: 0 0 15px 10px;
    }

    .añadir {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: 10px 0 0 10px;

    }

    #marcarCheck {
        max-width: 70%;
        text-align: center;
    }

    #lista {
        max-width: 90%;
    }

    li {
        font-size: 1.2rem;
    }

}